:root{
    --background: hsl(212, 45%, 89%);
    --primary-color: hsl(218, 44%, 22%);
    --secondary-color: hsl(220, 15%, 55%);
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background);
}

.qr{
    display: flex;
    flex-direction: column;

    width: 375px;
    min-height: 550px;

    background-color: white;
    border-radius: 20px;
}

.qr img{
    width: 90%;
    height: auto;
    margin: 20px auto;

    border-radius: 15px;
    object-fit: contain;
}

.qr__title{
    padding: 0px 50px;

    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 2.1rem;
    text-align: center;

    color: var(--primary-color);
}

.qr__text{
    padding: 20px 50px 30px;

    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;

    color: var(--secondary-color);
}

@media  screen and (max-width: 500px) {
    .qr{
        width: 100%;
        border-radius: 0;
    }
}